.searchBar {
    display: flex;
    padding: 10px 36px 10px 14px;
    border-radius: 16px;
    border: 2px solid #e5e5e5;

    & svg {
        width: 24px;
        color: var(--text-h);
    }

    & input {
        border: none;
        outline: none;
        background: none;
        color: var(--text-h);
    }
}
