.header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.headerText {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.name {
    font-size: 20px;
    font-weight: 800;
    color: var(--text-h);
}

.role {
    font-size: 14px;
    color: var(--text);
    font-weight: 500;
}
