.cell {
    cursor: pointer;
    user-select: none;
    white-space: nowrap;

    &:hover .icon { opacity: 1; }
}

.active {
    .icon { opacity: 1; }
}

.content {
    display: flex;
    align-items: center;
    gap: 4px;
}

.icon {
    display: flex;
    align-items: center;
    opacity: 0.35;
    transition: opacity 0.15s;
    color: var(--text-h);

    svg { font-size: 15px !important; }
}
